* {
  box-sizing: content-box;
}
#top-box {
  display: flex;
}
#charactor-box {
  width: 200px;
  height: 300px;
  border: solid black 1px;
}
#status-box {
  border: black solid 1px;
}
#equipment-box {
  border: black solid 1px;
}
#item-box {
  width: 300px;
  height: 100px;
  border: solid black 1px;
}
#text-box {
  width: 300px;
  height: 100px;
  border: solid black 1px;
}
