:root {
    --main-margin: 4px;
    --main-width: 210px
}
body {
    margin: 4px;
    width: 480px;
}
* {
    box-sizing: content-box;
}
.main-box {
    display: flex;
    justify-content: space-between;
}

.hero-box, .enemy-box {
    margin: 6px;
    width: 220px;
    height: 424px;
    border: black solid 1px;
}
.picture-box {
    margin: var(--main-margin);
    width: var(--main-width);
    height: 210px;
    border: solid 1px black;
}
.status-box {
    margin: var(--main-margin);
    width: var(--main-width);
    height: 130px;
    border: black solid 1px;
}
.item-box {
    display: flex;
    align-items: center;
    margin: var(--main-margin);
    width: var(--main-width);
    height: 60px;
    border: solid black 1px;
}
.quick-item1, .quick-item2, .quick-item3, .inventory {
    margin: 4px auto;
    width: 45px;
    height: 45px;
    border: black solid 1px;
}
.command-box {
    margin: 6px 12px;
    display: flex;
    justify-content: space-between;
    width: 460px;
}
button {
    margin: var(--main-margin);
    width: 128px;
    height: 32px;
}
.text-box {
    margin: 4px;
    width: 460px;
    height: 120px;
    border: solid black 1px;
}

.action-box {
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.action-btn, .movepage-btn {
    width: 200px;
}
.status-display {
    display: none;
}